body {
    width: 100%;
    margin: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 2em;
}

label {
    display: block;
    align-items: center;
    margin: 3px 0;
}

input {
    display: block;
    min-width: 300px;
    margin: 3px 0;
}

input, input::placeholder {
    font: 16px 'Montserrat', sans-serif;
}

#name, #email, #number {
    margin-bottom: 1rem;
}

#submit {
    display: block;
    width: 60%;
    height: 2em;
    font-size: 18px;
}